<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
<h1>Chào mừng, {{user.name}} </h1>
    <p>Đây là trang quản trị viên.</p>
    <a href="/users/staffmanage">Quản lý nhân viên</a>
    <a href="/logout">Đăng xuất</a>
</body>
</html>
