<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Dashboard</title>
</head>
<body>
<h1>Chào mừng, {{user.name}} </h1>
    <p>Đây là trang gia sư.</p>
    <a href="/logout">Đăng xuất</a>
</body>
</html>
